@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

/*
font-family: 'Roboto', sans-serif; 
font-family: 'Ubuntu', sans-serif;
fonts: 10, 11, 12, Roboto Regular >14<, 18, 24
*/
html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 16.41px;
  color: #202627;
}
.title {
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 700;
  margin-bottom: 23px;
}
/*header styles*/
.header {
  .logo {
    max-width: 160px;
    width: 100%;
    min-width: 150px;
  }
  &__top {
    background-color: #eeeeee;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 12px;
    background-color: #eeeeee;
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    width: 100%;
  }
  &__conditions {
    display: flex;
    justify-content: space-between;
    max-width: 345px;
    width: 100%;
  }
  &__conditions-link,
  &__register-link-login,
  &__lang-link-ru {
    color: #3b7adb;
    font-size: 12px;
    line-height: 14.06px;
  }
  &__conditions-link-payment,
  &__register-link-login,
  &__lang-link-ru {
    text-decoration: underline;
  }
  &__lang-link-uz {
    color: #898989;
    font-size: 12px;
    line-height: 14.06px;
  }
  &__register-link-reg {
    color: #202627;
    font-size: 12px;
    line-height: 14.06px;
  }

  &__inner {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
  &__search {
    max-width: 427px;
    min-width: 330px;
    height: 40px;
    width: 100%;
    position: relative;
    margin: 0 5px;
  }
  &__search-input {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    padding: 11px 160px 12px 25px;
    color: #898989;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-style: italic;
  }
  &__search-text {
    font-size: 12px;
    line-height: 14.06px;
    cursor: pointer;
  }
  &__search-text-arrow {
    padding: 0 13px 0 9px;
    cursor: pointer;
  }
  &__search-inner {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    max-width: 140px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__search-btn {
    background-color: #45b759;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  &__working-hours {
    max-width: 136px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
  }
  &__working-hours-text {
    padding-left: 14px;
    font-family: "Ubuntu", sans-serif;
    line-height: 19px;
  }
  &__working-hours-holidays {
    font-weight: 700;
  }
  &__phone {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
    margin: 0 5px;
  }
  &__phone-text {
    padding-left: 16px;
  }
  &__phone-icon,
  &__working-hours-clock {
    padding-top: 2px;
  }
  &__phone-number {
    font-weight: 700;
  }
  &__phone-link {
    color: #3b7adb;
    text-decoration: underline;
    font-size: 12px;
    line-height: 14.06px;
  }
  &__cart {
    margin: 0 5px;
    max-width: 46px;
    width: 100%;
    min-width: 46px;
  }
}
.menu {
  &__inner {
    max-width: 1170px;
    min-width: 1000px;
    width: 100%;
    height: 45px;
    background-color: #45b759;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
  }
  &__catalogs-btn {
    max-width: 228px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 29px 15px 24px;
    background-color: #308f41;
    border-radius: 25px;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    &:active {
      background-color: #1dd13e;
    }
  }
  &__catalogs-btn-burger {
    max-width: 17px;
    min-width: 17px;
    height: 15px;
    width: 100%;
  }
  &__catalogs-btn-arrow {
    max-width: 7px;
    min-width: 7px;
    height: 4px;
    width: 100%;
  }
  &__catalogs-text {
    padding: 0 15px;
  }
  &__list {
    max-width: 722px;
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
  }
  &__item-link {
    color: #fff;
    margin: 0 5px;
  }
  &__stocks {
    padding-left: 10px;
    padding-right: 28px;
  }
  &__stocks-link {
    color: #fff;
    font-weight: 700;
    display: flex;
  }
  &__stocks-inner {
    max-width: 23px;
    min-width: 23px;
    width: 100%;
  }
  &__stocks-text {
    padding-left: 11px;
  }
}

/*features*/
.features {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 150px;
  }
  &__item-icon {
    max-width: 30px;
    width: 100%;
    min-width: 24px;
  }
  &__item-text {
    padding-left: 20px;
  }
  &__item-text-link {
    color: #3b7adb;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/*offers*/
.offers {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-bottom: 32px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  &__list-item-mini {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

/*brands*/
.brands {
  &__inner {
    margin-bottom: 32px;
  }
  &__item {
    max-width: 104px;
    width: 100%;
    height: 100px;
    margin: 0 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__slider {
    position: relative;
  }
  .slick-prev {
    position: absolute;
    top: 65px;
    left: -50px;
    border: none;
    background-color: transparent;
    position: relative;
    color: transparent;
    width: 9px;
    height: 16px;
    padding: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/arrow-prev.png);
      width: 9px;
      height: 16px;
      cursor: pointer;
    }
  }
  .slick-next {
    position: relative;
    position: absolute;
    top: 65px;
    right: -50px;
    border: none;
    background-color: transparent;
    color: transparent;
    width: 9px;
    height: 16px;
    padding: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../images/arrow-next.png);
      width: 9px;
      height: 16px;
      cursor: pointer;
    }
  }
}

/*articles*/
.articles {
  &__inner {
    margin-bottom: 54px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    max-width: 376px;
    width: 100%;
  }
  &__img-box {
    margin-bottom: 16px;
  }
  &__date {
    font-size: 12px;
    color: #898989;
    margin-bottom: 10px;
  }
  &__text-link {
    font-weight: 700;
    color: #3b7adb;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
/*footer styles*/
.footer {
  background-color: #202627;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: #898989;
    margin-bottom: 34px;
  }
  .logo {
    max-width: 125px;
    min-width: 125px;
    height: 54px;
  }
  &__links-list {
    margin: 0 5px;
    padding-top: 13px;
    max-width: 190px;
    min-width: 100px;
    width: 100%;
  }
  &__item-link {
    color: #898989;
    text-decoration: underline;
    line-height: 24px;
    &:hover {
      text-decoration: none;
    }
  }
  &__contacts {
    padding-top: 13px;
    max-width: 255px;
    width: 100%;
  }
  &__contacts-inner {
    display: flex;
    margin-bottom: 24px;
  }
  &__contacts-icon {
    padding-top: 6px;
    width: 14px;
    height: 14px;
  }
  &__contacts-content {
    padding-left: 14px;
  }
  &__contacts-text {
    line-height: 24px;
  }
  &__contacts-phone {
    font-size: 18px;
    line-height: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #fff;
  }
  &__contacts-call-link {
    line-height: 24px;
    color: #3b7adb;
    text-decoration: underline;
  }
  &__address {
    display: flex;
    color: #fff;
  }
  &__address-icon {
    width: 14px;
    height: 19px;
  }
  &__address-content {
    padding-left: 15px;
  }
  &__bottom {
    color: #898989;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  &__payment {
    display: flex;
    max-width: 390px;
    min-width: 390px;
    justify-content: space-between;
    align-items: center;
  }
  &__payment-text {
    line-height: 24px;
  }
  &__payment-list {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    min-width: 260px;
  }
  &__social {
    display: flex;
    min-width: 275px;
    max-width: 275px;
    justify-content: space-between;
  }
  &__social-text {
    line-height: 24px;
  }
  &__social-list {
    display: flex;
    min-width: 92px;
    max-width: 92px;
    justify-content: space-between;
  }
  &__brand {
    color: #565656;
    display: flex;
    min-width: 190px;
    max-width: 190px;
    justify-content: space-between;
    align-items: center;
  }
  &__brand-text {
    font-size: 12px;
    line-height: 24px;
  }
  &__copyright {
    color: #565656;
    line-height: 24px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }
}
